<div class="product-header">
    <h3>All products <button type="button" class="btn btn-primary" style="margin-left: 700px;">Add Product</button></h3>
    Add,edit and delete products,and their variations to supplement your services.
    <p style="color: blue;"><i class="fa fa-info-circle" aria-hidden="true"></i> How to add a Product</p>
    <!-- <form class="d-flex" role="search" > -->
    <input type="search" placeholder=" Search products" aria-label="Search" class="btn btn-outline-secondary">
    <!-- </form> -->
</div>
