<div class="left-menu">
    <h3>Subjects</h3>
<ul>
    <li><i class="fa fa-sticky-note-o" aria-hidden="true"></i>&nbsp;Subjects</li>
    <li><i class="fa fa-gift" aria-hidden="true"></i>&nbsp;Packages</li>
    <li><i class="fa fa-star"  aria-hidden="true"></i>&nbsp;Registration fees</li>
    <li><i class="fa fa-cube" aria-hidden="true"></i>&nbsp;<a routerLink="/landing-page">Product</a></li>
    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;<a routerLink="dashboard">Coupons</a></li>
    <li><i class="fa fa-balance-scale" aria-hidden="true"></i>&nbsp;Taxes</li>
</ul>
</div>


