<div class="top-menu">
  <table>
    <tr>
      
      <td>cosmosbadmintan</td>
      <td><i class="fa fa-search" aria-hidden="true"></i></td>
      <td><i class="fa fa-gift" aria-hidden="true"></i> </td>
      <td><i class="fa fa-bell-o" aria-hidden="true"></i></td>
      <td><i class="fa fa-sticky-note-o" aria-hidden="true"></i></td>
      <td><i class="fa fa-user-o" aria-hidden="true"></i></td>
      <td class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account Team</a>
      </td>
    </tr>
  </table>
</div> 

